{% extends "base.html" %}

{% block title %}About Memory{% endblock %}

{% block content %}
<h1>About Memory Game</h1>
<p>Memory is a fun and fast-paced card-matching game designed to challenge your recall skills. The game is timed, so the quicker you match all the cards, the better your score!</p>
<p>Memory is a great way to test your memory and improve your cognitive skills. It's also a fun way to pass the time and challenge yourself to beat your previous scores.</p>
<p>The game consists of 6 pairs, making a total of 12 cards. Your goal is to flip the cards, find all matching pairs, and beat the clock.</p>
<p>Your results are color-coded based on the number of flips it takes to find a match:</p>
<ul class="about-game">
    <li>Green Square: Match found on the first flip.</li>
    <li>Purple Square: Match found on the second flip.</li>
    <li>Blue Square: Match found on the third flip.</li>
    <li>Yellow Square: Match found on the fourth flip.</li>
    <li>Red Square: Match found on the fifth flip.</li>
    <li>Black Square: Match found after five flips.</li>
</ul>
<p>Good luck, and see how fast your memory can match.</p>

<p>Project history: <a href="https://github.com/UccelloLibero/Memory" target="_blank">GitHub/UccelloLibero</a></p>
{% endblock %}