{% extends "base.html" %}

{% block title %}Memory{% endblock %}

{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-md-8 text-center">
        <h1>Memory Matching Game</h1>
        <p>Test your memory and matching skills!</p>
        <p>Flip the cards to find matching pairs. You have 8 attempts to match all 4 pairs of cards. Good luck!</p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-8">
        <div id="game-board" class="row"></div>
        <div id="last-play-time" class="text-center mt-3"></div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/game.js') }}"></script>
{% endblock %}