{% extends "base.html" %}

{% block title %}Memory{% endblock %}

{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-md-8 text-center">
        <div class="game-icon my-3">
            <img src="{{ url_for('static', filename='icons/icon1.svg') }}" alt="Dark Memory Chip" style="width: 50px;">
            <img src="{{ url_for('static', filename='icons/icon2.svg') }}" alt="Light Memory Chip" style="width: 50px;">
        </div>
        <!-- Game Title -->
        <h1>Memory</h1>

        <!-- Game Instructions -->
        <p>Test your memory: Flip cards to find matching pairs in recors time.</p>

        <!-- Game Start Button -->
        <button class="btn btn-warning px-4 py-2 mt-2" onclick="window.location.href='/game'">Play</button>
         
        <!-- Timed Game and Color Coding Explanation -->
         <div class="mt-4">
            <p>The game is timed, and your results are color-coded based on the number of flips it takes to find a match.</p>
            <p>Challenge yourself to achieve the best score!</p>
         </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/game.js') }}"></script>
{% endblock %}